body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

a {
    color: #fff;
    padding: 0 5px;
    font-size: 15px;
    transition: .2s;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #ec1d24;
}